
.lr-groove{
  width: 2px;
  border-left: 1px solid $color2;
  border-right: 1px solid #fff;
}

.lr-ridge{
  width: 3px;
  box-shadow: -1px -1px $color2  inset,
  1px 1px  #fff inset;
}
.lr-hr{
  margin: 3px 2px;
  height: 0;
  border-top: 1px solid $color2;
  border-bottom: 1px solid #fff;

}

.lr-desktop-wrap{
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: $deskTopColor;
}

.lr-desktop{
  height: 100%;
  // position: relative;
  // background-color: $deskTopColor;
  padding-bottom: $taskBarH;
  position: relative;
}
.lr-desktop_body{
  height: 100%;
  position: relative;
  overflow: hidden;
}
.lr-desktop_container .lr-window_main{
  box-shadow: none;
  background: none;
  padding: 0;
  >.lr-title{
    display: none;
  }
}
.lr-bar{
  border-top: 1px solid $color1;
  box-shadow: 0px 1px #fff inset;
  height: $taskBarH;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 1px;
  padding-left: 2px;
  padding-right: 2px;
  display: flex;
  align-items: center;

  .lr-groove{
    height: 22px;
    margin-left: 3px;
    flex-shrink: 0;
  }
  .lr-ridge{
    height: 18px;
    margin-left: 2px;
    flex-shrink: 0;
    margin-right: 4px;
  }
}

.lr-task-bar{
  flex-grow: 1;
  height: 100%;
  display: flex;
  align-items: center;
}

.lr-desktop_body{
  height: 100%;
  position: relative;
  overflow: hidden;
}

.lr-clock-area{
  height: 22px;
  min-width:  71px;
  width: 71px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

// hoverable: 
.lr-quick-item,
.lr-more-btn{
  padding-left: 0px;
  padding-right: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  margin: 0 1px;
  &:not(.lr__focus):hover:not(:active){
    margin: 0;
    box-shadow: -1px -1px $color2 inset,
    1px 1px  #fff inset;
  }
  &:active, &.lr__focus{
    margin: 0;
    box-shadow: -1px -1px #fff inset,
    1px 1px   $color2 inset;
  }
}

// left 1px;
.lr-quick-item{
  padding-left: 0px;
  padding-right: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
  &:not(.lr__focus):hover:not(:active){
    padding-right: 3px;
    padding-left: 1px;
  }
  &:active, &.lr__focus{
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 0;
  }
}
// center
.lr-more-btn{
  padding: 1px;
  &:not(.lr__focus):hover:not(:active){
    padding-right: 2px;
    padding-left: 2px;
  }
  &:active, &.lr__focus{
    padding-left: 3px;
    padding-right: 1px;
    padding-top: 2px;
    padding-bottom: 0;
  }
}

button.lr-desktop-icon{
  position: absolute;
  width: 80px;
  min-height: 80px;
  padding: 0;
  user-select: none;
  display:flex;
  flex-direction: column;
  align-items: center;
  z-index:1;
  text-decoration: none;
  background: none;
  border: 0;
  cursor: default;
  &:focus{
    background-color: rgba($color3, .1);
    .lr-desktop-icon-text{
      background-color: $color3;
    }
  }
  &:focus {
    outline: none;
  }
}
.lr-desktop-icons{
  position: relative;
  height: 100%;
}
.lr-text-icon{
  background-color: #ccc;
}
.lr-desktop-icon-cls, .lr-desktop-icon-img{
  height: 50px;
  width: 80px;

  text-align: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.lr-desktop-icon-cls{
  width: 50px;
  margin: 0 auto;
  font-size: 25px;
  line-height: 50px;
  font-weight: bold;
}
.lr-desktop-icon-text{
  line-height: 15px;
  // height: 30px;
  width: 100%;
  text-align: center;
  // overflow: hidden;
  text-overflow: ellipsis;
  color:#fff;
  font-size: 12px;
}