.lr-quick-launch{
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  .lr-resize_r{
    // background-color: red;
    right: 3px;
    width: 5px;
    // left: auto;
  }
}

.lr-quick-item{
  width: 19px;
  height: 20px;
  font-size: 14px;
}

.lr-quick-bar{
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin-right: 1px;
  height: 100%;
}

.lr-quick-more-item{
  height: 20px;
  display: flex;
  align-items: center;
  padding: 0 2px;
  .lr-icon{
    margin-right: 10px;
  }
  &:hover{
    background-color: $color3;
    color: #fff;
  }
}