
//************* 文件管理器 *************
.lr-fs-bottom-wrap{
  flex-grow: 1;
  display: flex;
}

.lr-fs-right{
  flex-grow: 1;
  flex-direction: column;
  position: relative;
  overflow: auto;
}

.lr-fs-index{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2em;
  >div{
    text-align: center;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    margin: 10px;
    padding: 0 5px;
    &:hover{
      background-color: $bg;
    }
  }
}
// *************** Left ***************
// .lr-fs-left{
//   overflow: auto;
//   width: 150px;
//   flex-shrink: 0;
//   background-color: #fff;
//   border-right: 1px solid #999;
//   display: flex;
//   flex-direction: column;
// }
// .lr-fs-bookmark{
//   height: 30px;
//   line-height: 30px;
//   overflow: hidden;
//   white-space: nowrap;
//   text-overflow: ellipsis;
//   cursor: pointer;
//   display: flex;
//   align-items: center;
//   .lr-icon{
//     height: 25px;
//     width: 25px;
//     margin-right: 5px;
//     text-align: center;
//     line-height: 25px;
//     color: #f5f5f5;
//     font-size: 13px;
//   }
// }

// .lr-fs-bookmark:hover{
//   background-color: $bg;
//   color: #000;
// }
// .lr_bookmark_active{
//   background-color: $bg;
// }

// *************** Left End ***************
.lr-fs-nav-bar{
  background: #666; 
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
  height: 31px; 
  line-height: 30px;
  flex-shrink: 0;
}

.lr-fs-nav-item{
  width: 30px;
  height: 30px;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  &:hover{
    background-color: #000;
  }
}

.lr_fs_nav_disabled{
    opacity: .5;
 }

.lr-fs-nav-up{
  background-image: url('/public/arrow-up.svg');
}
.lr-fs-nav-left{
  background-image: url('/public/arrow-left.svg');
}
.lr-fs-nav-right{
  background-image: url('/public/arrow-right.svg');
}
.lr-fs-nav-go{
  background-image: url('/public/go.svg');
}
.lr-fs-nav-reload{
  background-image: url('/public/reload.svg');
}


.lr-fs-address{
  flex-grow:1; 
  display: flex;
  background-color: #fff;
  height: 25px;
  position: relative;
  >input{
    flex-grow: 1;
    border: 0;
  }
}
.lr-fs-address-inner{
  position: absolute;
  height: 100%;
  max-width: 90%;
  display: flex;
  background-color: #fff;
}
.lr-fs-crumb{
  color: blue;
  white-space: pre-wrap;
  cursor: pointer;
  //text-decoration: underline;
  &::before{
    content: '/';
    color: #000;
    margin: 0 10px;
    //text-decoration: none;
  }
}
$linkFileColor: violet;


.lr-fs-folder{ // 多层 flex 嵌套会导致 overflow-y: auto; 不起作用. 2018/6/8
  flex-grow: 1;
  padding-top: 30px;
  padding-bottom: 18px;
  position: relative;
  overflow: auto;
  outline: none;
}
.lr-fs-folder-inner{
  flex-wrap: wrap;
  align-content:flex-start; 
  display: flex;
  position: relative;
  padding: 10px 2px 10px 2px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.lr-fs-ctrl-bar-mask{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .6);
  z-index: 2;
}

.lr-upload-btn{
  position: relative;
  font-size: 12px;
  height: 24px;
  margin-left: 1em;
  background-image: url('/public/upload.svg');
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 2em;
  border: 1px solid #aaa;
  background-color: #fff;
  &:hover{
    background-color: $bg;
  }
}
.lr-fs-icon-model{
  background-image: url('/public/fs-icon-model.svg');
}
.lr-fs-list-model{
  background-image: url('/public/fs-list-model.svg');
}
.lr-fs-error{
  font-size: 1.2em;
  font-weight: bold;

  color: red;
}
.lr-upload-input{
  display: none;
}
.lr-fs-dir-sticky{
  background-color: burlywood
}
.lr-fs-dir-unwriteable{
  background-color: gray;
  color:#fff;
}
.lr-fs-dir-unreadable{
  background-color: black;
  color:#fff;
}
.lr-fs-dir-mask{
  background-color: rgba(#FF00FF, .3);
}
.lr-fs-status-wrap{
  position: absolute;
  z-index: 20;
  left: 0;
  bottom: 0;
  width:100%;
  height: 18px; 
  border-top: 1px solid #000;
  line-height: 18px;
  font-size: 12px;
  user-select: text;
  span{
    margin: 0 2px; padding: 0 2px;
  }
  b{
    margin-left: 2px;
  }
}
.lr-fs-status{
  width: 100%;
  height: 100%;
}
.lr-fs-status-link{
  color: $linkFileColor;
}


// ================== item ==================
$fsRowItemH: 50px;

.lr-fs-folder .lr-icon{
  width: 30px;
  height: 30px;
  margin-bottom: 2px;
  margin-top: 2px;
  margin-right: 3px;
  position: relative;
  
  &:hover{
    background-color: $bg;
  }
  //-background-color: rgba(#fff, .5);
}
.lr-fs-folder-table{
  font-size: 13px;
  td:first-child{
    font-weight: bold;
  }
  // td:not(:first-child){
  //   color:#666;
  // }
}
.lr_file_hidden{
  opacity: .6;
  &:hover{
    opacity:1;
  }
}
.lr_per_is_on{
  background-color: rgba(green, .5);
  color: #fff;
  line-height: 1;
  padding: 1px 3px;
}
.lr-name-wrap{
  display: flex;
  align-items: center;
}
.lr_file_type_Directory{
  background-image: url('/public/img/tango-style/folder.png');
}
.lr_file_type_RegularFile {
  background-image: url('/public/img/tango-style/text-x-generic.png');
}
.lr_file_type_Socket{
  background-image: url('/public/img/tango-style/inode-socket.png');
}
.lr_file_type_Unknown{
background-image: url('/public/unknown.svg');
}
.lr_file_type_CharacterDevice{
background-image: url('/public/img/tango-style/inode-chardevice.png');
}
.lr_file_type_BlockDevice{
  background-image: url('/public/img/tango-style/inode-blockdevice.png');
}
.lr_file_type_SymbolicLink{
  background-image: url('/public/img/emblem-symbolic-link.png');
}
.lr_file_type_NamedPipe{
  background-size: auto 80%;
  background-image: url('/public/img/nuvola-style/pipe.png');
}
.lr_file_type_Door{
  background-size: auto 80%;
  background-image: url('/public/door.svg');
}
.lr-error-icon{
  z-index: 20;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url('/public/img/nuvola-style/lockoverlay.png');
}

// ================== item end ==================





//----------- permission -----------
.lr-per-relation-wrap{
  display: flex;
  position: relative;
}
.lr-per-relation{
  display: flex;
  // margin-right: 1px;
  
  
}
.lr-per-item{
  color:#ddd;
  //background-color: #eee;
  //opacity: .5;
  text-align: center;

}
.lr-per-item, .lr-per-sticky{
  height: 1em;
  line-height: 1em;
  width: 1em;
}
.lr_is_device_type{
  color: blue;
}
.lr_per_item_on{
  background-color: rgba(green, .25);
  opacity:1;
  color:#fff;
}
.lr_per_is>.lr_per_item_on{
  background-color: rgba(green, .6);
  color:#fff;
}
.lr-per-sticky{
  position: absolute;
  background: rgba(sienna, .5);
  right:0;
  bottom: 0; 
  z-index: 2;
}
.lr-per-wrap{
  display: flex;
}
.lr-per-ACL{
  background-color: #FF00FF;
  color: #fff;
}

.lr-fs-ctrl-bar{
  width: 100%; 
  flex-shrink:0;
  display: flex;
  height: 30px;
  background-color: #eee;
  line-height: 30px;
  color:#000;
  border-bottom: 1px solid #666;
  background-color: #eee;
  position: absolute;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 20;
  .lr-icon{
    width: 28px;
    height: 28px;
    margin-right: 5px;
  }
}

.lr-fs-new-folder{
  background-image: url('/public/img/tango-style/folder-new-5.png');

}
.lr-fs-new-file{
  background-image: url('/public/img/tango-style/document-new-4.png');
}
.lr-fs-create-layer{
    background-color: $bg;
  &:hover{
    background-color: $bg!important;
  }
}

.lr_fs_open_type_image{
  background-image: url('/public/img/tango-style/image-x-generic.png');
}

.lr_file_focus{
  overflow:visible;
  background-color: rgba($bg, .6);
  &:hover{
    background-color: rgba($bg, .6)!important;
  }
}
.lr_file_former{
  border-color: rgba($bg, 1)!important;
  // border-top: 2px!important;
  border-bottom-width: 1px!important;
  padding-bottom: 0!important;

}
.lr-fs-item-name{
  min-width: 2em;
  white-space: pre-wrap;
  //-font-family: 'Courier New', Courier, monospace;
}
.lr_file_model_on{
  background-color: red;
}
.lr_file_model_icon{
  display: flex!important;
  flex-wrap: wrap;
}
.lr_file_model_icon tr:first-child{
  display: none!important;
}
.lr_file_model_icon tr{
  display: flex!important;
  //padding: 20px 0;
  margin: 20px;
  border: 2px solid red;
  flex-direction: column;
  flex-shrink: 0;
  height: 100px;
  width: 100px;
  position: relative;
}
.lr_file_model_icon td{
  display: flex!important;
  flex-grow: 1;
  padding: 0!important;
  .lr-name-wrap{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
  }
  .lr-icon{
    height: 70px;
    width: 100%;
    margin: 0;
   
  }
  .lr-fs-item-name{
    font-weight: normal;
  }
}
.lr_file_model_icon td:not(:first-child){
  display: none!important;
}
.lr_file_model_icon td:nth-child(4){
  display: flex!important;
  .lr-per-relation-wrap{
    position: static;
  }
  .lr-per-relation{
    display: none;
  }
  .lr_per_is{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
  }
  .lr-per-ACL{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    font-size: 10px;
    // width: 1em;
    // text-align: center;
    // word-break: break-all;
    // line-height: 1;
    // font-size: 12px;
  }
}

.lr_file_be_selected{
  opacity: 1;
  background-color: rgba($bg, .6);
  &:hover{
    background-color: rgba($bg, .6)!important;
  }
}
.lr-fieldset-body{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.lr-disk-item{
  flex-shrink: 0;
  margin-right: 20px;
  display: flex;
  //cursor: pointer;
  // &:hover{
  //   background-color: rgba($bg, .5);
  // }
}
.lr-disk-icon{
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  
}
.lr-disk-cd{
  background-image: url('/public/img/drive-optical-6.png');
}
.lr-disk-hd{
  background-image: url('/public/img/drive-harddisk-9.png');
}
.lr-disk-memory{
  background-image: url('/public/img/memory-ram.png');
}
.lr-disk-item-right{
  width: 220px;
}
.lr-disk-process-wrap{
  height: 18px;
  background-color: #eee;
  border: 1px solid #ddd;
  width: 96%;
  position: relative;
}
.lr-disk-process{
  height: 100%;
  background-color: #00CED1;
}
.lr-disk-left{
  width: 50px;
  margin-right: 10px;
  position: relative;
}
.lr-disk-type{
  font-size: 12px;
  text-align: center;
  color:#fff;
  position: absolute;
  top: 0;
  left: -10px;
  background-color: red;
  padding: 0 3px;

}
.lr-disk-i-process-wrap{
  width: 96%;
  background-color: #ddd;
  z-index: 2;
  top: 100%;
  left: 0;
  height: 3px;
  margin-bottom: 2px;
}
.lr-disk-i-process-wrap:hover {
  background-color: #eee;
  .lr-disk-i-process{
    background-color: #1E90FF;
  }
}
.lr-disk-i-process{
  height: 100%;
  background-color: #006400;
  width: 0;
}

.lr-disk-info{
  font-size: 13px;
  color: #444;
}
.lr-disk-link{
  text-decoration: underline;
  color: blue;
  cursor: pointer;
  width: 100%;
}
.lr-fs-favorites{
  flex-grow: 1;
  position: relative;
  width: 100%;
  // display: flex;
  // flex-direction: column;
  border-top: 1px solid #999;
  background-image: url('/public/img/favorites.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  // ::after{
  //   content: "";

  //   opacity: 0.5;
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   right: 0;
  //   position: absolute;
  //   z-index: 1;
  // }
}
.lr-fs-favorites-inner{
  height: 100%;
  position: absolute;
  width: 100%;
  background-color: rgba(255,255,255, .8);
}
.lr-disk-link:hover{
  color: green;
}
// .lr-pre-create-error-btn, .lr-pre-create-ctrl{
//   width: 30px;
//   height: 30px;
//   line-height:30px;
//   text-align: center;
// }
// .lr-pre-create-error-btn{
//   cursor: pointer;
// }

// .lr_file_focus .lr-fs-item-name{
//   cursor: text;
// }
//----------- permission end -----------
/*
.lr-file{
  width: 100%;
  height: 80px; 
  overflow: hidden;
  position: relative;
  margin: 1px;
  cursor: pointer;
  display: flex;
  &:hover, &.lr_file_focus{
    background-color: #000; 
    word-break:break-all;
    .lr-file-name{
      background-color: red;
      position: relative;
      white-space: normal;
    }
  }
}
.lr-file-icon{
  width: 50px; 
  height: 50px;
  display: flex;
  position: relative;
  span{
    position: absolute;
    left: 17px;
    top: 8px;
    z-index: 3;
    text-overflow: ellipsis;
    white-space: nowrap; 
    width: 26px;
    text-align: center;
    overflow: hidden;
    background: red; 
    color:#fff;
    padding: 0 1px;
    font-size: 10px;
  }
}
.lr-file-icon-front{
  width: 100%; 
  height: 100%;
  position: absolute;
  top:0; 
  left:0;
  z-index: 2;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.lr-file-link{
  width: 40%; 
  height: 40%;
  position: absolute;
  bottom:-5px; 
  z-index: 2;
  right:8px;
  background-size: 100% 100%;
  background-image: url('/public/link.svg');
}



.lr-file-name{
   font-size: 12px;
   text-align: center;
   cursor: text;
   z-index: 4;
   white-space: pre-wrap;
   text-overflow: ellipsis;
   overflow: hidden;
}
*/
// .lr-per-relation-wrap{
//   width: 50px;
//   height: 50px;
//   top: 0;
//   left: 0;
//   right:0;
//   bottom: 0;
//   margin: auto;
//   display: flex; 
//   position: absolute;
//   z-index: 1;
// }
// .lr-per-relation{
//   flex-grow: 1;
//   display: flex;
//   flex-direction: column;
// }
// .lr-per-item{
//   flex-grow: 1;
//   display: flex; 
//   align-items: center;
//   justify-content: center;
//   opacity: 0;
// }
// .lr_per_is>.lr_per_item_on{
//   background-color: rgba(green, .5);
//   opacity: 1;
// }

// .lr-per-sticky{
//   position: absolute;
//   background: rgba(sienna, .5);
//   right:0; 
//   bottom: 0; 
//   width: 33.33%;
//   height: 33.33%;
// }

// .lr-mask-icon, .lr-error-icon{
//   background-size: 100% 100%;
//   background-position: center;
//   background-repeat: no-repeat;
//   position: absolute;
//   width: 100%; height: 100%; top:0; left: 0;
// }

// .lr-mask-icon{
//   z-index: 10;
//   background-size: 50% 50%;
//   background-image: url('/public/mask.svg');
// }

// .lr_file_type_Directory > .lr-file-icon > .lr-file-icon-front{
      
//   // background-image: url('/public/blue/folder-blue.svg');
//    //background-color: rgba(255,255,255, .5);
// }
// .lr_file_type_RegularFile > .lr-file-icon > .lr-file-icon-front{
//    background-image: url('/public/blue/file.svg');
// }
// .lr_file_type_Socket > .lr-file-icon > .lr-file-icon-front{
//   background-image: url('/public/socket.svg');
// }
// .lr_file_type_Unknown > .lr-file-icon > .lr-file-icon-front{
//   background-image: url('/public/unknown.svg');
// }
// .lr_file_type_CharacterDevice > .lr-file-icon > .lr-file-icon-front{
//   background-image: url('/public/device.svg');
// }
// .lr_file_type_BlockDevice > .lr-file-icon > .lr-file-icon-front{
//   background-image: url('/public/device-block.svg');
// }
// .lr_file_type_NamedPipe > .lr-file-icon > .lr-file-icon-front{
//   background-size: auto 80%;
//   background-image: url('/public/FIFO.png');
// }
// .lr_file_type_Door > .lr-file-icon > .lr-file-icon-front{
//   background-size: auto 80%;
//   background-image: url('/public/door.png');
// }
// .lr-error-icon{
//   z-index: 20;
//   background-image: url('/public/error.svg');
// }
