
.lr-start{
  width: 50px;
  position: relative;
  display: flex;
}

.lr-start-btn{
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/public/img/tango/start-here.png');
  // border: 2px outset darken($taskBarBg, 5%);
  display: flex;
  align-items: center;
  justify-content: center;
  &:not(.lr_start_focus):hover{
    background-color: $taskBarItemHoverBg;
  }
}
.lr_start_focus{
  background-color: $taskBarItemFocusBg;
}
.lr-start-menu{
  background-color: $taskBarBg;
  color: #000;
  bottom: $taskBarH;
  position: absolute;
  z-index: $topLayerZindex + 2;
  left: 0;
  width: 280px;
  height: 500px;
  border-bottom: 0;
  display: flex;
  flex-direction: column;
}
.lr-start-menu-item{
  width: 100%;
  height: 35px;
  line-height: 35px;
  padding-left: 10px;
  display: flex;
}
.lr-start-bottom-menu, .lr-start-username{
  
  flex-shrink: 0;
}
.lr-start-username{
  font-weight: bold;
  font-size: 1.3em;
  line-height: 38px;
  height: 38px;
  border-bottom: 1px solid #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 1em;
}
.lr-start-bottom-menu{
  border-top: 1px solid #000;
  line-height: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 10px;
  
  .lr-clear-btn{
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    display: block;
    color: #000;
    &:hover{
      background-color: #ccc;
    }
  }
}
.lr-start-apps{
  flex-grow: 1;
  overflow: auto;
}
.lr-start-menu-item{
  cursor: pointer;
}
.lr-start-menu-item:hover{
  background-color:#494d52;
}
.lr-start-logout-btn{
  min-width: auto;
  margin: 0;
  background-color: rgba($errColor, .6);
  border: 1px solid #000;
  color: #fff;
  cursor: pointer;
  &:hover{
    background-color: rgba($errColor, .8);
  }
}