
.lr-error{
  position: absolute; 

  z-index: $maxZindex - 1;

  top: 5em;
  
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 0;
  flex-direction: column;
  // background-color: #fff;
}

.lr-error-item{
  // background-color: blue;
  color:$errColor;
  margin-top: 2px;
  font-weight: bold;
  opacity: .6;
}
.lr_error_latest{
  opacity: 1;
}

// .lr-error-close{
//   cursor: pointer;
//   margin-right: 2px;
//   color: #000;
//   &:hover{
//     color: #eee;
//   }
// }
// .lr-error-title{
//   background-color: #EEA1AF;
//   height: $taskTitleH;
//   padding: 1px;
//   display: flex;
//   align-items: center;
//   justify-content:  space-between;

// }
// .lr-error-content{
//   display: flex;
//   color: #000;
//   >.lr-icon{
//     height: $taskTitleH - 4;
//     width: $taskTitleH;
//     margin-right: 10px;
//   }
// }
// .lr-error-body{
//   max-height: 50%;
//   overflow: auto;
//   background-color: rgba(255, 255, 255, .7);
//   &::-webkit-scrollbar
//   {
//     width: 5px;  /* for vertical scrollbars */
//     height: 5px;
//   }

//   &::-webkit-scrollbar-track
//   {
//     background: rgba(red, 0.1);
//   }

//   &::-webkit-scrollbar-thumb
//   {
//     background: rgba(red, .4);
//   }
// }