.lr-login-wrap{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1px;
  background-color: $bg;
  h1{
    color: #fff;
  }
  label{
    padding-top: 3px;
    padding-bottom: 5px;
    color: #fff;
    display: block;
  }
}

.lr-login-box-wrap{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.lr-login-input{
  width: 100%;
  max-width: 296px;
  height: 35px;
  line-height: normal;
  padding: 0 4px;
}
.lr-logined-wrap{

  margin-right: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(#fff, .6);


}
.lr-logined-item{
  display: block;
  
  color:#666;
  width: 200px;
  background-color: rgba(#fff, .8);
  display: flex;
  align-items: center;
  height: 50px;
  text-decoration: none;
  &:hover{
    text-decoration: none;
    background-color: rgba(#fff, 1);
  }
}
.lr-logined-item-icon{
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-right: 5px;
  text-align: center;
  line-height: 40px;
  font-size: 35px;
  color: $bg;
}
.lr-logined-item-text{
  font-size: 18px;
}
.lr-login-logo{
  width: 90px;
  height: 90px;
  text-align: center;
  line-height: 90px;
  display: block;
  font-size: 90px;
  color: #fff;
  margin-top: -70px;
  margin-bottom: 10px;
}
// .lr_login_have_logined{
//   justify-content: center;
//   .lr-login-logo{
//     margin-top: 0;
//   }
// }
.lr-login-box{
  width: 100%;
  max-width: 296px;
}
.lr-login-box-footer{
  text-align: right;
  margin-top: 10px;
  button {
    height: 28px;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    outline: none;
    padding: 0 8px;
    min-width: 3em;
  }
}