.lr-login-warp{
  justify-content:center;
  flex-direction: column;
  align-items: center;
  fieldset{
    border-color: $borderColor;
    border-width: 2px;
    border-style: groove;
    background-color: rgba(255,255,255, .5);
  }
}

.lr-login-h1{
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  color: #fff;
  width: 280px;
}

.lr-login-warp fieldset{
  min-width: 280px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.lr-login-warp select{
  min-width: 50%;
}

.lr-login-input{
  height: 30px; 
}

.lr-login-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.lr-login-label{
  font-size: .82em;
  line-height: 1;
  margin-right: 10px;
}

.lr-login-footer{
  text-align: right;
  padding-top: 10px;
  position: relative;
}
.lr-login-error{
  position: absolute;
  left: 0;
  top: 100%;
  color:red;
  font-size: 14px;
  width: 100%;
}
.lr-login-bottom{
  position: absolute;
  bottom: 1px;
  width: 980px;
  margin: 0 auto;
  text-align: right;
  color: #fff;
  font-size: 15px;

  a{
    color: #fff;
    margin: 0 5px;
  }
}