$color: #00bcd4;
$color2: #ff4081;
$navheight: 50px;
* ,*::before, *::after{
  box-sizing: border-box;
}
body{
  padding:0;margin:0;
  line-height: 1.42857143;
  font-family : "Microsoft YaHei", "Hiragino Sans GB", "Courier new";
}

ul, ol{ list-style: none;}
a {text-decoration: none; cursor:pointer}
$tableColor : #ddd;
table{width: 100%;border-spacing: 0;
  border-collapse: collapse;}
th, td{padding:8px;}
th{color:$color;border-bottom: 2px solid $color}
td{border-bottom: 1px solid $tableColor;text-align: center;}
tbody tr:hover{background-color: #f0f0f0}
input[type=radio]{vertical-align: middle}
// .main-body>table>tbody>tr:hover{background-color:#fff }
// .main-body>table>tbody>tr>td{border:0 }
:global{
  html, body, .lr-app, .lr-page, .height100, .bottom{ height:100%; position: relative;}
  .close{
    font-family: 'Arial'
  }
.color2 { color:$color2}
.w80h100{width:80%;height: 100%; overflow: auto;}
.version-label{position: fixed; bottom:0; right:0; color:#999;}
.main-home-index{padding-left: 15px}
.main-home-index>.title{color:$color;font-size: 1.3em}
.td-small-p, .td-small-p-link{margin:0; font-size: 14px;line-height: 1.2;}
.td-small-p{ color:#000}
.td-small-p-link{color:$color2;}
.clear_global{height: 0; width: 0;padding:0; margin:0;}

.clear-input.clear-ok input{border: 1px solid green;}
.clear-input.clear-fail input{border: 1px solid red}
.inilne-clear-input-warp .clear-input{display: inline-block}
$rightBottmBoxH : 30px;
.clear-notice{
  >.title{
    background: $color2; color:#fff;
    line-height: $rightBottmBoxH;height: $rightBottmBoxH;padding-right: $rightBottmBoxH;
    padding-left: 8px;
    position: relative; font-size: 16px;
    >.close{
      background-color: rgba(0,0,0,.5);border-radius: 50%;
      position: absolute; top:0; right:0;z-index: 21;
      cursor: pointer;
       width:$rightBottmBoxH;height: $rightBottmBoxH;text-align: center;
       &:hover{background-color: rgba(0,0,0,.9)}
    }
  }
  .detail{
    max-height: 150px;  overflow-y: auto;
    &::-webkit-scrollbar
    {
      width: 5px;  /* for vertical scrollbars */
    }

    &::-webkit-scrollbar-track
    {
      background: rgba($color2, 0.1);
    }

    &::-webkit-scrollbar-thumb
    {
      background: rgba($color2, .5);
    }
  }
  animation: upshow .5s;position: fixed; z-index: 20;bottom: 0;
  right:0; width:300px; border:1px solid $color2; background: #fff;
  p{line-height: 1.5; margin:0;border-bottom: 1px solid #eee}
}

// .clear-notice .top-center{
//   top:0; bottom:auto;margin:0 auto;
// }
@keyframes :global(upshow) {
  0%{bottom: -100%}
  100% {bottom: 0}
}
.w33{width: 33%;display: inline-block}
.w66{width:66%;display: inline-block}
  .top, .top2, .top3{
    a {
      &:hover { color: $color}
      color: #fff;margin:0 10px;
    }
    color: #fff;
    height:$navheight;
    line-height: $navheight;
    position: absolute;
    width:100%;
    left:0;
    top:0;
    z-index: 3;
  }
  .home_title{
    text-align: center;height: 200px;line-height: 200px;position: absolute;top:0;bottom:0; margin: auto; font-size: 100px;
    z-index: 2; width: 100%;
  }
  .top{
    .title{
      font-size: 1.4em;
    }
    .nav{
      float:right;padding-right: 1em;
    }
    background-color:$color/3;
    top:0;
  }
  .top2{
    .nav{
      width:980px; margin:0 auto;
    }
    .nav a{
      display: inline-block;height: 100%; width:100px;text-align: center;
      //.active, &::hover{}
    }
    .nav a:hover, .nav a.active{background: $color;color:#fff}
    .nav a.clear_final_route:hover, .nav a.clear_final_route.active{background: #fff;color:$color}
    background-color:$color/3*2;
    //top:$navheight;
  }

  .top3{
    .nav{
      width:980px; margin:0 auto;
    }
    .nav a{
      display: inline-block;height: 100%; width:100px;text-align: center;
      //.active, &:hover
    }
    .nav a:hover, .nav a.active{background: #fff;color:$color}
    background-color:$color;
    //top:$navheight * 2;
  }
  .bottom{padding-top:$navheight;}
  .main{height:100%; min-width:980px;
    position: relative; padding:10px}
  .main-bottom{height: 0;}
  .main-info{
    position: relative;
    //background: #ccf2f6;
    .main-body{
      padding: 5px;
      font-size: 14px;
    }
    >.title{
      background: #ccf2f6;font-size:16px;color:#555;padding: 5px;
    }
    span{color:#333;font-size: 16px;padding-left:10px}
  }
  .main-currid{
    background: #eee;
  }
  .table-warp>.title{
    background: $color;color:#fff;
    padding: 5px;margin-top:10px;
  }

  //登录框
  .login_box{
    width: 400px;margin:auto;height: 215px; position: absolute;left:0; right:0;
     top:0; bottom:0; background: rgba($color, .1);
    .login_body{padding:10px 10%;}
    .login_btn{
      margin-top: 5px;float: right;
    }
    .title{
      background-color: $color;color:#fff;height: 50px;line-height: 50px;
      text-align: center;font-size:1.3em;border-bottom: 1px solid $color
    }
    .login_foot{text-align: right;border-top: 1px solid $color}
    input{
      width:100%; display: block;margin:10px auto;height: 35px;
    }
  }
  button, input, select{
      height: 30px;
      font-size: 14px;
      margin: 0 5px;
    }
  input{padding-left: 0.5em}
  form{display: inline}
  button, select{padding: 0 8px}
  //不确定进度圆型loading。。。
  button{
    position: relative;
    cursor: pointer;
    font-size: 14px;

  }
  // button:hover{
  //   border-style: solid;
  // }
  button:disabled{
    cursor: not-allowed;
    color:gray;
    opacity: .5;
  }
  button.primary{background: $color;border-color:$color/1.1;color:#fff;
    &:hover{
      background: darken($color, 15%)
    }}
  button.delete{background: #666;border-color:#666/1.1;color:#fff;
    &:hover{
      background: #333
    }
  }
  button.disable{background: #999;border-color:#999/1.1;color:#fff}


  button.create{
    background: $color2; color:#fff;
    border-color: $color2;
    &:hover{
      background: darken($color2, 15%)
    }
  }

  button.create:hover, button.primary:hover, button.delete:hover{
    //border-style: solid;
  }

  button.loading:disabled{
    cursor: auto;
  }

  @keyframes :global(move) {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 11px 0;
    }
  }
  button.loading::before, .spinner {
    padding:0;
    margin:0;
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
    height: 14px;
    width: 14px;
    font-size: 0;
    animation: rotate 0.8s infinite linear;
    border: 3px solid gray;
    border-right-color: $color;
    border-radius: 50%;
    cursor: auto;
  }
  .spinner{
    width: 40px; height: 40px;border: 4px solid $color;
    border-right-color:#fff;
    z-index: 11;
  }
  .main-loading-warp{
    background-color: rgba(255, 255, 255, .7);height: 100%;
    width: 100%; position: absolute; z-index: 10; top:0; left:0;
  }
  button.loading::before{
    content: '';
  }

  @keyframes :global(rotate) {
    0%    { transform: rotate(0deg); }
    100%  { transform: rotate(360deg); }
  }
  .wh100{width:100%;height: 100%}

  .tool-bar{border-bottom: 1px solid $color;padding: 8px; vertical-align: bottom}
  //竖三点
  .icon-vthree, .icon-vthree::after, .icon-vthree::before{
    content: '';border-radius: 50%; width: 5px; height: 5px;
    background: #888;
  }
  .icon-vthree{
    position: relative;
    margin: 0 auto;
    top:12px;
    &:before{bottom:120%;}
    &:after{top: 120%;}
  }
  .icon-vthree::after, .icon-vthree::before{
    position: absolute;
  }

  //前进, 后退 > <
  .icon-prev, .icon-next{
    width: 100%;height: 100%; position: relative;
  }
  .icon-prev::before,  .icon-prev::after, .icon-next::before, .icon-next::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 60%;
    left: 20%;
    //margin-top: -1px;
    background: $color;
  }
  .icon-prev::before, .icon-next::before{
      bottom: 26%;

  }
  .icon-prev::before{
    transform: rotate(45deg);
  }
  .icon-next::before{
    transform: rotate(135deg);
  }
  .icon-prev::after, .icon-next::after{
    top:27%;
    transform: rotate(-45deg);
  }
  .icon-prev::after{
    transform: rotate(-45deg);
  }
  .icon-next::after{
    transform: rotate(-135deg);
  }
  .table-warp{width: 100%;position: relative; min-height: 200px}
  .crumbs{
    height: 30px;line-height: 30px;
    a{
      color: $color;
    }
    span{margin:0 5px}
    a:hover{border-bottom: 1px solid $color;}
  }
  tr.loading{opacity: .3;}
  .modal-warp{
    top:0;
    left:0;
    width:100%;height: 100%;
    position: fixed; z-index: 10;
     background-color: rgba(0,0,0,.3);
     overflow: scroll-y;
   }

   .modal{
     z-index: 11;
     position:absolute;
     max-width: 100%;
     min-width:400px;
     background: #fff;
     display: none;
   }
   .modal-foot, .modal-head{
     height: 40px;padding:0 15px; line-height: 40px;
   }
   table a{text-decoration:underline; color:$color}
   label{margin-right:5px}

   .modal-head{
     background-color: $color; color:#fff;padding-right: 20px;
     position: relative;
     >.title{font-weight: bold; font-size: 1.3em;};
     .modal-top-close{
      height: 40px; right: 0;top:0;width:40px; position: absolute;
      cursor: pointer;font-size: 25px;
      text-align: center;
      &:hover{
        background: rgba(255,255,255,.5);
      }
     }
    }
   .modal-foot{
     border-top: 1px solid $color;
     text-align: right;
   }
   .modal-body{
     padding:15px;min-height: 100px;
   }
   .modal-body tr:hover{
     background-color:#fff;
   }
   textarea{min-height: 70px;display: block;min-width: 180px; margin: 0 5px;}
   .modal-body td{border:0; text-align: left}
  $treeItemH :30px;
  $leftWidth: 300px;
  .left-menu{
    width:$leftWidth; position: absolute;top:5px;bottom:0;left:0;
    border-right: 1px solid $color;padding:5px;padding-left: 0;
    z-index: 2;
  }
  .right-main{
    width:100%; padding-left: $leftWidth;height: 100%;position: relative;
    right:-5px;
    overflow-y: auto;
  }
  .fly-menu{position: absolute; z-index: 9;display: none}
  .corp-table-warp tr>td:last-child{color:$color}
  .corp-table-warp tr>td:first-child{width: 150px;text-align: right;}
  //*************************tree*************************
  .tree-top-index{
      color:#fff;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color:$color;
      padding-left: 5px;
      //font-weight: bold;
      cursor: pointer;
   }
  .tree{font-size: 15px}
  .clear-tree-ul{position: relative; padding-left: 1em; margin: 0;}
  .clear-tree-ul.loading{
    height: $treeItemH;
    .spinner{
      width : $treeItemH * 0.6;
      height: $treeItemH * 0.6;
    }
  }
  li>.clear-tree-ul{display: none}
  li.open>.clear-tree-ul{
    display: block
  };
  .tree-item{height:$treeItemH;
    line-height: $treeItemH;color:#333;
     cursor: pointer;
     position: relative}
  .tree-top-index:hover, .tree-top-index.active,
  .tree-item:hover,  .tree-item.active{background: $color;color:#fff}
  .tree-item-root{color:#A19010}
  .tree-item-dept{color:$color}
  .tree-item-station{color:$color2}

  .tree-item-left-ctrl-warp{
    position: absolute;left:0; top:0;height: 100%;width: 20px;
    z-index: 2;
    &:hover{
      background: rgba(#fff, .5);
    }
  }
  .tree-item-left-ctrl {
    width: 0;
    height: 0;
    border-top: $treeItemH/4 solid transparent;
    border-left: $treeItemH/3 solid $color2;
    border-bottom: $treeItemH/4 solid transparent;
    position: absolute;top:$treeItemH/4;left:0;
  }

  .tree-item-right-ctrl-warp{
    position: absolute;width:30px; height: 100%;top:0; right:0;}
  .tree-item-right-ctrl-warp:hover{
    background: rgba(#fff, .5);
  }
  .text-center{text-align: center;}

  .tree-item-right-ctrl{
    position: absolute;left:0;z-index: 6;background-color: #fff;
    border:1px solid $color; padding:5px 0; width:110px;
    button{width: 100px;margin-top: 2px; margin-bottom: 2px}
  }
  .btn-modify-corp-info{
    font-size: 12px; display: block;
  }
  .tree-item-left-ctrl.open{
    border-top: $treeItemH/3 solid $color2;
    border-left: $treeItemH/4 solid transparent;
    border-right: $treeItemH/4 solid transparent;
    top:11px;
  }
  .tree-item-main{
    width:100%;float:left;position: relative;cursor: pointer;padding-left: 2px;
  }
  .tree-item-main.tree-item-has-child{
    padding-left: 20px;
  }

  .tree-item-main.tree-item-has-right-ctrl{
    padding-right: 30px;
  }

  .tree-item.status-disable{
    color:#999;
    opacity: .6;
  }

  .tree-item-main span{display:block;}
  .clr{clear:both}
  //分页
  $pagingH :30px;
  .paging{line-height: $pagingH; vertical-align: middle; float:right}
  .paging li{
    float:left;
     min-width: $pagingH;height: $pagingH;
     margin: 0 5px;
     text-align: center;
     cursor: pointer;
     border:1px solid $color;
  }
  .paging li.active , .paging li:not(.disabled):hover{
    background-color: $color; color:#fff;border:1px solid #000;
    .icon-prev::after, .icon-prev::before,
    .icon-next::before, .icon-next::after{background-color: #fff}
  }
  .paging li.disabled{opacity: .4; cursor: default}
  .dw-input-search{text-align: right}

  .clear-input{
    position: relative;
    .clear-hint{
      position: absolute;left:100%;top:0;color:$color2;width:200px;padding:5px;

    }
  }
  .checkbox-warp{line-height: 20px;height:20px;}
  .checkbox-warp span{
    font-size: 14px;width: 140px; display: block;
    float:left;
    color:$color;
    overflow: hidden;
    cursor: pointer;
    text-overflow: ellipsis;height: 100%;
  }
  .right-ctrl-checkbox{height: 20px; width:20px;margin-top: 5px}
  .checked-list{
    background-color: rgba($color, .2);
    min-height: 50px;
  }
  .func-cu-check>.title{font-weight: bold;}
  .func-cu-check>small{display: block;color: $color}
  .checked-label{
    display: inline-block;
    height: 25px;font-size: 14px;line-height: 25px;
    margin: 5px;
    .close{
      border-radius: 50%;display: inline-block;
      text-align: center;color:#fff;cursor: pointer;
       background: #666;height: 25px;width: 25px;margin-left: 2px;
       &:hover{background:#333}
    }
  }

  .td-has-auth-label{margin:1px 2px;
    padding: 3px; border-radius: 2px; display: inline-block;
    background-color: $color2; color:#fff}
  label.disabled{opacity: .5}
}
