$navheight: 50px;
* {
  box-sizing: border-box;
}
body{
  padding:0;margin:0;
  font-family : "Microsoft YaHei", "Hiragino Sans GB", "Courier new";
}
table td{border:1px solid #999}
td{padding:5px}
:global{
  html, body, .clear_app, .root{ height:100% }
  .root{padding:50px;}
  .top{height:$navheight;position: fixed;width:100%;z-index: 2;}
  .bottom{height:100%;padding-top:$navheight; position: relative}
}
.test b{font-size: 1.5em}
a{color:#000;padding:5px; margin:0 10px}
a:hover, a:global(.active){background:#888; color:#fff;}
.test button{margin:5px}
.test span{font-size: 14px; color:#666}
