* {
  box-sizing: border-box;
}
body{
  padding:0;margin:0;
  font-family : "Microsoft YaHei", "Hiragino Sans GB", "Courier new";
}
div {
  padding:0;margin:0;
}
table td{border:1px solid #999}
td{padding:5px}

$color1: 50px;
:global{

html, body, .app, .desk, .h100, .login-container{height:100%;}
.desk{overflow: hidden;}
.flex-container{
  display:flex;
}

.login-container{
    display:flex;
  align-items: center;
  justify-content: center;
}
.login-box{
  width: 200px;
  height:200px; 
  border:1px solid #999;

}
}
