$bg: #87CEEB;
$focusBg: #00BFFF;
// $focusBg: #628abd;
$bg222: $focusBg;
// $errColor: #D02E00;
$errColor: red;
$desktopColor: $bg;
$desktopLaunchColor: #EE9FAF;
$drakColor: #6AA1B8;
$topLayerColor: #fff;
// $activeBorderColor: #99d1ff;
$activeBgColor: #cce8ff;

// task-bar
$taskBarH : 30px; // 底部任务栏
$taskBarBg: #dee1e6; // 底部任务栏背景

$taskBarItemBg: #dee1e6; // 任务 背景
$taskBarItemHoverBg: #eff0f2;  // 任务 背景
$taskBarItemFocusBg: #fff;   // 任务 背景
// $taskBarItemFocusHoverBg: rgba($taskTitleUnFocusColor, .8);

// task-window
$taskTitleH: 24px; // 任务窗口 title 栏高度
$taskCtrlW: $taskTitleH; // 任务窗口 title 栏右侧按钮宽度
$taskTitleColor: #fff;
$taskTitleUnFocusColor:$taskBarBg;



$maxZindex : 2147483647; // https://stackoverflow.com/questions/491052/minimum-and-maximum-value-of-z-index
$uploadModalZindex: $maxZindex - 2;
$topLayerZindex : $maxZindex - 100;




*, *:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: arial,sans-serif;
}
// account: https://www.iconfont.cn/collections/detail?spm=a313x.7781069.0.da5a778a4&cid=816


// upload up reload left right  https://www.iconfont.cn/collections/detail?cid=16506
// button{
//   font: inherit;
// }
.lr-w100{
  width: 100%;
}
.iconfont{
  color: inherit;
  font-size: inherit;
}
.lr-err-color{
  color: $errColor;
}
.lr-pre-load{
  background-color: $bg;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: wait;
}
.lr_loading{
  cursor: auto;
  position: relative;
  pointer-events: none;
}
.lr_loading::before, .lr-hourglass::before{
  content: '';
}
.lr_loading::before , .lr-hourglass::before{
  padding:0;
  margin:0;
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  margin:auto;
  height: 12px;
  width: 12px;
  animation: rotate 0.8s infinite linear;
  border: 3px solid $drakColor;
  border-right-color: #fff;
  border-radius: 50%;
  z-index: 2;
}
button.lr_loading{
  background-color: rgba(#000, .5);
  color: rgba(#fff, .5);
}
button.lr_loading::before{
  height: 25px;
  width: 25px;
  
}
@keyframes rotate { //lr_loading 动画
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}
@import './common.scss';
// Fixed: https://github.com/winjs/winstrap/issues/181
// .btn-group-sm>.btn, .btn-group-xs>.btn, .btn-sm, .btn-xs {
//   font-size: 12px;
//   line-height: 1.5625;
//   border-radius: 0;
//   padding: 1px 5px;
//   min-width: 100px;
// }

.lr-page {
  height: 100vh;
}

@import './login.scss';



.lr-icon{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width:20px; 
  height: 20px;
}
.icon-logo_LR{
  color: #628abd;
}
.lr-clear-btn{
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
  height: auto;
}

.loading-btn{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &:disabled>span{
    visibility: hidden;
  }
}
.loading-btn .progress-ring{
  position: absolute;
  height: 0;
  left: 0;
  right: 0;
  top:6px;
  bottom: 0;
  margin: 0 auto;
}


.lr-contextmenu{
  position: absolute; 
  z-index:$topLayerZindex; 
  border: 1px solid #a0a0a0;
  background: $topLayerColor; 
  top:0;
  left:0;
  font-size: 14px;
  width: 248px;
  padding: 4px 2px;
  box-shadow: rgba(#000, .75) 5px 5px 5px -5px;
  user-select: none;
  // box-shadow: rgba(#000, .7) 6px 6px 4px -4px;

  hr {
    margin: 3px 10px;
    border-color: #fff;
    border-bottom: 0;
  }
}
.lr-ctx-item, button{
  &:first-letter {
    // https://zhidao.baidu.com/question/1695348555292540668.html
    text-transform:uppercase;
  }
}
.lr-ctx-item{
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  //-border-bottom: 1px solid #fff; 
  color: #000;
  cursor: default;
  padding: 0 10px 0 34px;

  &:hover{
    background-color: #e8eaed; 
  }

}
.lr-ctx-hr{
  height: 1px;
  background-color: #919191;
  margin: 0 10px; 
}

.lr-hourglass{
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  width: 100%; 
  background-color: rgba(0,0,0, .2);
  z-index: 30; 
  color:#888;
  cursor: wait;
}

.lr_fly_textarea{
  position: absolute; 
  z-index: $topLayerZindex; 
  resize: none; 
  // font-family: 'Courier New', Courier, monospace;
  display: block;
  overflow: hidden; 
  font-size: inherit;
  font-weight: inherit; 
  height: inherit;
  width: inherit;
  border:0;
  padding:0;
  margin:0;
  text-align: inherit;
  word-wrap: normal;
  white-space:normal;
  word-break: break-all;
  &:focus{
    outline: 1px solid #000;
  }
}

@import '../cmpt/global/toust/error.scss';

.lr-modal{
  position: absolute;
  top: 0;
  left: 0;
  z-index: $topLayerZindex;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(#fff, .5);
}

.lr-modal-box{
  max-width: 100%;
  border: 1px outset #999;
  background-color: #fff;

}
.lr-modal-title{
  background-color: $bg;
  height: 25px;
  line-height: 25px;
  color: #fff;
  padding-left: 10px;
}
.lr-modal-body{
  padding: 20px 10px;
}
.lr-modal-footer{
  border-top: 2px solid $bg;
  padding: 5px 10px;
  text-align: right;
  button{
    margin: 0 5px;
  }
}
.lr-modal-item{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
// .lr-btn-primary{
//   background-color: $drakColor;
//   color: #fff;
//   border-color: $bg;
// }


.lr-upload-item{
  height: 30px;
  border-bottom: 1px solid #eee;
  color:#fff;
  position: relative;
}
.lr-upload-process{
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: green;
  transition-duration: .3;
  z-index: 3;
}
.lr-upload-content{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 4;
  display: flex;
  justify-content: space-between;
}
.lr-upload-name{
  width: 260px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lr-open-with-item{
  display: flex;
  padding: 10px 10px;

  background: $drakColor;
  color: #fff;
}

.lr_lang_item::before{
  content: '';
  width: 10px;
  height: 10px;
  background-color: $bg;
  visibility: hidden;
}
.lr_lang_active::before{
  visibility:visible;
}


.lr-desktop-wrap {
  position: relative;
  padding-bottom: $taskBarH;
  // background-image: url('/public/my-img/bg-blaze-100.jpg');
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  background-color: $desktopColor;

}
.lr-desktop, .lr-desktop-icons{
  height: 100%;
  position: relative;
  overflow: hidden;
}
button.lr-desktop-icon{
  position: absolute;
  width: 80px;
  min-height: 80px;
  padding: 0;
  user-select: none;
  display:flex;
  flex-direction: column;
  align-items: center;
  z-index:1;
  text-decoration: none;
  background: none;
  border: 0;
  cursor: default;
  &:focus, &:hover{
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
  }
  &:focus {
    outline: none;
  }
}

.lr-text-icon{
  background-color: #ccc;
}
.lr-desktop-icon-cls, .lr-desktop-icon-img{
  height: 50px;
  width: 80px;

  text-align: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.lr-desktop-icon-cls{
  width: 50px;
  margin: 0 auto;
  font-size: 25px;
  line-height: 50px;
  font-weight: bold;
}
.lr-desktop-icon-text{
  line-height: 15px;
  // height: 30px;
  width: 100%;
  text-align: center;
  // overflow: hidden;
  text-overflow: ellipsis;
  color:#000;
  font-size: 12px;
}
.lr_desktop_launch{ // #f20505 #d13438
  
  .lr-desktop-icons{
    z-index: $maxZindex;
    background: rgba($desktopLaunchColor, 1);
    // background-image: url('/public/img/preferences-desktop-launch-feedback.png');
    // background-position: center;
    // background-repeat: no-repeat;
  }
  .lr-task-bar{
    background-color: rgba($desktopLaunchColor, 1);
  }
  .lr-task-bar-body,
  .lr-start, .lr-watch, .lr-quick-item:not(.lr-quick-launch){
    visibility: hidden;
    // opacity: .04;
    pointer-events: none;
  }
  // .lr-desktop-icon-text{
  //   color: #fff;
  // }
}
.lr_be_selected{
  background-color: green;
}

$topBarRight : 100px;




@import '../cmpt/watch/watch.scss';
@import '../cmpt/task/task.scss';
@import '../cmpt/start/start.scss';
@import '../cmpt/sys-app/disk/disk.scss';
@import '../cmpt/sys-app/fs/fs.scss';
@import '../cmpt/sys-app/editor/editor.scss';
@import '../cmpt/sys-app/task-manager/task-manager.scss';
@import '../cmpt/sys-app/recycle-bin/recycle-bin.scss';
@import '../cmpt/sys-app/terminal/xterm.css'; // 3.13.1
@import '../cmpt/global/upload/upload.scss';
@import '../cmpt/sys-app/computer-info/computer-info.scss';
// @import '../cmpt/sys-app/settings/ui.scss';
//************* app start *************
.lr-sys-app-icon{
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.lr-sys-app-title{
  padding-left: 10px;
}

//************* app end *************
// .lr-chat{
//   position: fixed;
//   z-index: 2;
//   width: 350px;
  
//   bottom: 10px + $taskBarH;
//   left: 10px;
//   background-color: rgba(#fff, .5);
//   display: flex;
//   flex-direction: column;
// }
// .lr-chat-title{
//   height: 40px;
//   border-bottom: 1px solid $drakColor;
//   line-height: 40px;
//   padding-left:10px;
//   flex-shrink: 0;
//   color:#333;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   .lr-chart-ctrl{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: relative;
//     width: 21px;
//     height: 21px;
//     line-height: 21px;
//     flex-shrink: 0;
//     background-color: $drakColor;
//     margin-right: 2px;
//     border: 1px outset #999;
//     text-align: center;
//     color: #fff;
//   }
// }
// .lr-chat-bottom{
//   flex-grow: 1;
//   display: flex;
//   height: 260px;
// }
// .lr-chat-left{
//   width: 80px;
//   border-right: 1px solid #666;
//   flex-shrink: 0;
//   div{
//     border-bottom: 1px solid #ccc;
//   }
// }
// .lr-chat-right{
//   display: flex;
//   flex-grow: 1;
//   flex-direction: column;
// }
// .lr-chat-body{
//   overflow: auto;
//   flex-grow: 1;
//   background-color: rgba(255, 255, 255, .7);
//   &::-webkit-scrollbar
//   {
//     width: 5px;  /* for vertical scrollbars */
//     height: 5px;
//   }

//   &::-webkit-scrollbar-track
//   {
//     background: rgba(#888, 0.1);
//   }

//   &::-webkit-scrollbar-thumb
//   {
//     background: rgba(#888, .4);
//   }
// }

// .lr-chat-input-wrap{
//   flex-shrink: 0;
//   height: 30px;
//   display: flex;
//   align-items: center;
//   padding: 0 10px;
//   input{
//     flex-grow: 1;
//   }
//   button{
//     flex-shrink: 0;
//     height: 25px;
//     margin-left: 10px;
//   }
// }
// .lr-chat-msg-item{
//   border-bottom: 1px solid #ddd;
//   display: flex;
//   .lr-chat-name{
//     background-color: $drakColor;
//     color: #fff;
//     margin-right: 5px;
//   }
// }
// .lr-chat-msg-item.lr_chat_my_msg{
//   justify-content: flex-end;
//   .lr-chat-name{

//     margin-right: 2px;
//     margin-left: 5px;
//   }

// }
// .lr-chat-name {
//   max-width: 80px;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   color: $drakColor;
//   flex-shrink: 0;
//   padding: 2px;
// }
// .lr_chat_name_is_me{
//   background: $drakColor;
//   color:#fff;
// }
// .lr-chat-name small{
//   font-size: 10px;
// }
.lr-about-table {
  td:first-child{
    padding-right: 2em;
    font-weight: bold;
  }
}
// .lr-seeking{
//   font-size: 50px;
//   color: rgba(#fff, .15);
//   position: absolute;
//   right: 20%;
//   top: 0;
//   bottom: 0;
//   margin: auto;
//   padding: 0;
//   height: 168px;
//   user-select: none;
// }