$color: yellow;
$bg2: #000;
$color31: #199EFF;
$color32: #CC1814;
$borderColor: #999;
$bg: #fff;

* ,*::before, *::after{
  box-sizing: border-box;
}
html, body{
  height: 100%;padding: 0;margin:0;
}

a{
  color: $color31;
};
input{
  width:100%;height:28px;line-height: 28px;
}
button{
  padding: 3px 10px;
}
:global{
  .lr-app, .lr-page{
    height: 100%; position: relative;
  }
  .lr-page{
    display: flex;
  }
  .lr-login-warp{
    justify-content: center;
    align-items: center;
  }
  .lr-box{
    width:260px;
    background: #F5DEB3;
    border-color:$borderColor;
    // border:1px solid $borderColor;
  }



  .lr-box .title{
    font-weight: bold;
    background-color:$color;
    color:$color32;
    border:1px solid $borderColor;
    padding: 5px;
  }
  fieldset.lr-box{
    padding: 0;
    legend.title{
      margin-left: 1em;
    }
  }
  .lr-box label{
    font-size: .7em;
  }
  .lr-box .lr-content{
    padding:10px 5px;
    //background-color: #fff;
    margin: 1px;
  }
  .lr-box .lr-footer{
    //background: #fff;
    padding: 5px 0;
    border-top:1px solid #999;text-align: center;
  }

  .lr-logined_list_warp{
    width:300px; height:100%;
  }

  .lr-top{
    height: 30px;line-height: 30px;background: $bg2;
    display: flex; color:#aaa;
    b{
      color:$color;
    }
  }
  .lr-fs-icon{
     font-size:30px;margin-left:20px; padding: 20px;
    &:hover{
      background-color:#000; color:$color;
    }
  }
  .lr-task-bar{
    position:absolute; bottom:0; width:100%; height:35px;background-color:yellow;
    display:flex;justify-content: center;
  }
  .lr-task-item{
    height:100%;line-height: 35px;padding: 0 5px;background: #000; color:yellow;margin:0 1px;
    cursor: default;
    &.lr_focus{
      color: $color32;
    }
  }
  .lr-task-window{
    position: absolute;z-index: 2; top:0;
    border: 1px outset #000;
    display: flex;
    flex-direction: column;
    bottom: 0; left: 0; right: 0;background: #F5DEB3; box-shadow: 3px 3px 3px 3px #888;
  }
  .lr-task-first{
    margin: auto;
  }
  .lr-title{
    background: #666; height: 25px; line-height: 25px;
     font-weight: bold;display: flex;cursor: default;
     color:$color32; border:0; padding: 0; margin: 0;flex-shrink: 0;
  }
  .lr-title.lr-focus{
    background: yellow;
  }
  .lr-title-content{
    flex-grow:1; padding: 0 10px;
  }
  .lr-window-body{
    flex-grow:1;background:navajowhite; display: flex; flex-direction: column;
    position: relative;
  }
  .lr-title-close{
    display: block;width: 25px;background: #000; height: 25px;position: absolute;
    right:0;top:0; text-align: center; color:#fff;
  }
  .lr-title-close::before{
    content: 'X';
  }

  .lr-fs-bar{
    background: #fff; border: 2px inset #999;display: flex;align-items: center;
    height: 30px; line-height: 30px;flex-shrink: 0;
    // .lr-2-nav{
    //   display: flex;
    // }
    .lr-2-address{
      flex-grow:1; height: 25px;
    }
    .lr-3-item{
      width: 30px; font-size: 25px;
      &:hover{
        background: #000;color:$color;
      }
      &.lr_2_disabled{
        color: #888;
      }
    }
  }
  .lr-fs-body{
    display: flex; flex-grow:1; flex-wrap: wrap; padding: 2px;
    align-content:flex-start; position: relative;
    overflow-y: auto;
  }
  .lr-file{
    width: 80px; height: 74px; overflow: hidden; position: relative;
    .lr-2-icon{
      width: 100%; height: 50px; font-size: 30px; text-align: center;
       line-height: 50px;
    }
    .lr-2-name{
      text-align: center; font-size: 12px;
      // &:hover{
      //   word-break:break-all;z-index: 99999999;position: absolute;width: 100%;
      // }
    }
    &:hover, &.lr_2_focus{
      background-color: #000; color:$color;overflow:visible;word-break:break-all;
      .lr-2-name{
        background-color: red;z-index: 1;position: relative;
      }
    }
    &.lr_2_file_link{
      color: violet;
    }
  }
  .lr-contextmenu{
    position: absolute;z-index: 9999999999; border: 1px outset #eee;
    background: #eee; height: 200px; width: 100px; top:0; left:0;
    .lr-2-item{
      padding: 5px 10px; border-bottom: 1px solid #999; cursor: pointer;
      &:hover{
        background-color: green; color:#fff;
      }
    }
  }

  .lr-hourglass{
    position: absolute;top:0;left:0;right: 0;bottom: 0;margin: auto;
    height: 30px; width: 30px; font-size: 25px;text-align: center;line-height: 30px;
    z-index: 3; color:#888; opacity: .6;
  }
  .lr-edit-body{
    display: flex; flex-grow: 1; flex-direction: column;
  }
  .lr-edit-bar{
    height: 30px; background-color: #eee; line-height: 30px;padding: 0 10px;
  }
  .lr_edit_textarea{
    height: 100%; width: 100%; display: block;flex-grow: 1;
  }

  // #yin-yang, #yin-yang::before, #yin-yang::after{
  //   box-sizing: content-box;
  // }
  // #yin-yang {
  // width: 96px;
  // height: 48px;
  // background: #eee;
  // border-color: red;
  // border-style: solid;
  // border-width: 2px 2px 50px 2px;
  // border-radius: 100%;
  // position: relative;
  // }
  // #yin-yang:before {
  // content: "";
  // position: absolute;
  // top: 50%;
  // left: 0;
  // background: #eee;
  // border: 18px solid red;
  // border-radius: 100%;
  // width: 12px;
  // height: 12px;
  // }
  // #yin-yang:after {
  // content: "";
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // background: red;
  // border: 18px solid #eee;
  // border-radius:100%;
  // width: 12px;
  // height: 12px;
  // }
  // .lr-info{
  //   color:red; font-size: 1.2em;padding:3px;
  // }

}
