.lr-task-bar{
  z-index: $topLayerZindex;
  height:$taskBarH;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  display:flex;
  background-color: $taskBarBg;
}

.lr-task-bar-body{
  flex-grow: 1;
  display:flex;
  overflow: hidden;
  padding-left: 1px;
}
// .lr-task-bar-place{
//   flex-grow: 1;
//   background-color: $taskBarBg;
// }
.lr-task-bar-item {
  background-color: $taskBarBg;
  color:#fff;
  position: relative;
  flex-grow: 1;
  max-width: 200px;
  min-width: 50px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  cursor: default;
  font-size: 14px;
  border-right: 1px solid $taskBarBg;
  // &:hover .lr-task-bar-item-inner {
  //   background-color: rgba(255, 255, 255, .5);
  // }
  // &.lr_task_bar_item_focus .lr-task-bar-item-inner{
  //   background-color: rgba(255, 255, 255, .7);
  // }
  .lr-icon{
    margin-right: 4px;
  }

  &::before, &::after{
    background-color: $taskBarBg;
    content: '';
    display: block;
    width: 4px;
    transition: width .1s;
    height: 100%;
    top: 0;
    position: absolute;
  }
  &::before{
    left: 0;
  }
  &::after{
    right: 0;
    transition: width .2s;
  }
  &:hover, &.lr_task_bar_item_focus{
    // background: none;
    &::before, &::after {
      width: 0;
    }
  }
  &:hover {
    .lr-task-bar-item-inner{
      background-color: rgba(255, 255, 255, .1);
      // background-color: lighten($color: #0063b1, $amount: 10%);
    }
  }
  &.lr_task_bar_item_focus{
    .lr-task-bar-item-inner{
      background-color: rgba(255, 255, 255, .2);
    }
    &:hover{
      .lr-task-bar-item-inner{
        background-color: rgba(255, 255, 255, 0.225);
      }
    }
  }
}

.lr-task-bar-item-inner {
  height: 100%;
  border-bottom: 2px solid #83c0ef;
  display: flex;
  align-items: center;
}




.lr-quick-bar{
  min-width: 50px;
  max-width: 300px;
  background-color: $taskBarBg;
  display: flex;
}
.lr-quick-bar-item{
  width: 40px;
  // margin-right: 1px;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.lr-quick-bar-item:hover{
  background-color: lighten($taskBarBg, 15%);
}
.lr-task-window{
  position: absolute;
  z-index: 2; 
  top:0;
  border: 1px outset #000;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0; 
  right: 0;
  border: 2px outset #eee;
  background-color:#fff;
}
.lr_task_max{
  box-shadow: none; 
  width: 100%;
  height: 100%;
  border:0;
}

.lr_task_focus{
  border-color: lighten($taskBarBg, 5%);
}

.lr-task-title{
  display: flex;
  flex-shrink: 0;
  background: $taskBarFocusBg;
  height: 25px; 
  line-height: 25px;
  cursor: default;
  color: #000;
  opacity: .7;
  border-bottom: 1px solid #eee;
}
.lr-task-title-content{
  flex-grow:1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
}
.lr-task-title-content .lr-icon{
  width: $taskTitleH - 2px;
  height: $taskTitleH - 2px;
  margin-right: 8px;
}
.lr-task-control{
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  >div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width:21px; 
    height: 21px;
    line-height:21px;
    flex-shrink: 0;
    background-color: #9E703B;
    margin-right:2px;
    border: 1px outset lighten(#9E703B, 10%);
    text-align: center;
    color:#fff;
    >span{
      font-size: 15px;
      -webkit-font-smoothing: none;
    }
    &:hover{
      border-style: inset;
      background-color: lighten(#9E703B, 10%);
    }
  }
}

.lr_task_focus >.lr-task-title{
  background: $taskBarBg;
  opacity: 1;
}

.lr-window-body{
  flex-grow:1; 
  display: flex;
  flex-direction: column;
  position: relative;
  user-select: none;
}
// .lr-task-control-close::before{
//   content: '✖';
// }
.lr-task-control-close::before, .lr-task-control-close::after{
  content: '';
  display: block;
  position: absolute;
  background-color: #fff;
  left: 3px;
  right: 3px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 1px;
}

.lr-task-control-close::before{
  transform: rotate(45deg);
}
.lr-task-control-close::after{
  transform: rotate(-45deg);
}

.lr-task-control-max::before{
  content: '';
  position: absolute;
  display: block;
  border:1px solid #fff;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
}
.lr_task_control_shrink::before, .lr_task_control_shrink::after{
  width: 50%; 
  height: 50%;
  background-color: inherit;
  border:1px solid #fff;
  content: '';
  display: block; 
  position: absolute;
}
.lr_task_control_shrink::before{
  top: 2px;
  right:2px;
}

.lr_task_control_shrink::after{
  bottom: 2px; 
  left:2px; 
  z-index: 2;
}

.lr-task-control-min>span{
  display: none;
}
.lr-task-control-min::before{
  content: '';
  height: 1px;
  background: #fff;
  flex-grow: 1;
  margin: 0 3px;
}

// .lr_task_max .lr-task-title{
//   background-color: $bg!important;
//   opacity: 1;
// }

// .lr-task-bar-control-wrap{
//   flex-shrink: 0;
//    width: $taskBarH * 2; 
//    display: flex;
// }
// .lr-task-bar-control{
//   display: none;
//   width: $taskBarH; 
//   flex-shrink: 0;
//   border: 2px outset #aaa;
//   background: #999;  
//   line-height: 1;
//   text-align: center; 
//   cursor: pointer; 
//   font-size: $taskBarH - 4;
//   color: #fff;
// }