// -------------------- task bar --------------------
.lr-task-bar{
  z-index: $topLayerZindex;
  height:$taskBarH;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  display:flex;
  background-color: $taskBarBg;
}

.lr-task-bar-body{
  flex-grow: 1;
  display:flex;
  overflow: hidden;
  padding-left: 1px;
}
// .lr-task-bar-place{
//   flex-grow: 1;
//   background-color: $taskBarBg;
// }
.lr-task-bar-item {
  background-color: $taskBarBg;
  color:#fff;
  position: relative;
  flex-grow: 1;
  max-width: 200px;
  min-width: 50px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  cursor: default;
  font-size: 14px;
  border-right: 1px solid $taskBarBg;
  .lr-icon{
    margin-right: 4px;
  }

  &::before, &::after{
    background-color: $taskBarBg;
    content: '';
    display: block;
    width: 4px;
    transition: width .1s;
    height: 100%;
    top: 0;
    position: absolute;
  }
  &::before{
    left: 0;
  }
  &::after{
    right: 0;
    transition: width .2s;
  }
  &:hover, &.lr_task_bar_item_focus{
    // background: none;
    &::before, &::after {
      width: 0;
    }
  }
  &:hover {
    .lr-task-bar-item-inner{
      background-color: rgba(255, 255, 255, .1);
      // background-color: lighten($color: #0063b1, $amount: 10%);
    }
  }
  &.lr_task_bar_item_focus{
    .lr-task-bar-item-inner{
      background-color: rgba(255, 255, 255, .2);
    }
    &:hover{
      .lr-task-bar-item-inner{
        background-color: rgba(255, 255, 255, 0.225);
      }
    }
  }
}

.lr-task-bar-item-inner {
  height: 100%;
  border-bottom: 2px solid #83c0ef;
  display: flex;
  align-items: center;
}


// ------- quick bar -------

.lr-quick-bar{
  min-width: 50px;
  max-width: 300px;
  background-color: $taskBarBg;
  display: flex;
}
.lr-quick-bar-item{
  width: 40px;
  // margin-right: 1px;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.lr-quick-bar-item:hover{
  background-color: lighten($taskBarBg, 15%);
}

// -------------------- task body --------------------

.lr-task-window{
  position: absolute;
  z-index: 2; 
  top:0;
  border: 1px solid rgba(#333, .3);
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0; 
  right: 0;
  background-color:#fff;
  box-shadow: rgba(#000, .22) 3px 3px 15px 0;
}

.lr_task_max { // 最大化窗口
  box-shadow: none; 
  width: 100%;
  height: 100%;
  border:0;
}

.lr_task_focus{
  border-color: #1883d7; 
}

.lr-task-title{
  display: flex;
  flex-shrink: 0;
  background: #fff; 
  color: #999;
  height: 30px; 
  line-height: 30px;
  font-size: 13px;
  // font-family: 'Microsoft YaHei', Arial;
}
.lr-task-title-content{
  flex-grow:1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
}
.lr-task-title-content .lr-icon{
  width: $taskTitleH - 2px;
  height: $taskTitleH - 2px;
  margin-right: 8px;
}


.lr_task_focus >.lr-task-title{ 
  color: #000;
}

.lr-window-body{
  flex-grow:1; 
  display: flex;
  flex-direction: column;
  position: relative;
  user-select: none;
}

// ------- right control -------

.lr-task-control{
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
}
.lr-task-ctrl-item{
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 29px;
  color: #000;
  &:hover{
    background-color: #e5e5e5;
  }
}
.lr-task-ctrl-colse{
  transition: all .15s;
  &:hover{
    background-color: #e81123;
    color: #fff;
  }
}
// .lr-task-control-close::before{
//   content: '✖';
// }
// .lr-task-control-close::before, .lr-task-control-close::after{
//   content: '';
//   display: block;
//   position: absolute;
//   background-color: #fff;
//   left: 3px;
//   right: 3px;
//   top: 0;
//   bottom: 0;
//   margin: auto;
//   height: 1px;
// }

// .lr-task-control-close::before{
//   transform: rotate(45deg);
// }
// .lr-task-control-close::after{
//   transform: rotate(-45deg);
// }

// .lr-task-control-max::before{
//   content: '';
//   position: absolute;
//   display: block;
//   border:1px solid #fff;
//   top: 3px;
//   left: 3px;
//   right: 3px;
//   bottom: 3px;
// }
// .lr_task_control_shrink::before, .lr_task_control_shrink::after{
//   width: 50%; 
//   height: 50%;
//   background-color: inherit;
//   border:1px solid #fff;
//   content: '';
//   display: block; 
//   position: absolute;
// }
// .lr_task_control_shrink::before{
//   top: 2px;
//   right:2px;
// }

// .lr_task_control_shrink::after{
//   bottom: 2px; 
//   left:2px; 
//   z-index: 2;
// }

// .lr-task-control-min>span{
//   display: none;
// }
// .lr-task-control-min::before{
//   content: '';
//   height: 1px;
//   background: #fff;
//   flex-grow: 1;
//   margin: 0 3px;
// }
