$topBarRight : 100px;

.lr-top{
  height: $taskTitleH;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  
  position: fixed;
  top: 0;
  right: $topBarRight + 20;
  
  //color: #fff;
  z-index: $topLayerZindex;
  //background-color: rgba(#000, .5);
  //z-index: 2;
  //background-color: #333;
  border-style: outset;
  border-color: #fff;
  border-width: 0 1px 1px;
  padding: 0 5px;
}

.lr-top-small-icon{
  background-size: 100% 100%;
  width: $taskTitleH; 
  height: $taskTitleH;
}
.lr-watch{
  user-select: text;
  display: flex; 
  align-items: center;
  border-right: 1px solid #fff;
  padding: 0 5px;
}
.lr-watch-left{
  font-size: 14px;
}
.lr-watch-timezone{
  display: flex;
  flex-direction: column;
  line-height: 10px; 
  font-size: 10px;
  text-align: center; 
  margin-left: 5px;
  align-items: center;
  color: #333;
  cursor: default;
}

.lr-user{
  position: relative;
  height: 100%;
  display: flex; 
  align-items: center;

  &:hover>.lr-user-drop{
    display: block;
  }
}
.lr-user-drop{
  font-size: 14px;
  position: absolute; 
  width: 200px; 
  right:0;
  top: 100%; 
  display: block;
  padding: 5px 0;
  background-color: #fff;
  border:2px outset #eee;
  color:#000;
}
.lr-user-p{
  padding: 0 10px;
  word-wrap: break-word;
  b{
    margin-right:.3em
  }
}
.lr-user-name{
  display: flex; 
  align-items: center;
  cursor: pointer;
  margin: 0 3px;
  padding: 0 3px;
  &:hover, &.lr_user_hover{
    background-color: rgba(#fff, .5);

  }
  >.lr-triangle{
    margin: 0 3px;
    >polygon{
      fill:#666;
    }
  }
}
.lr-user-logout{
  cursor: pointer;
  color: #000; 
  margin-left: 10px;
}