$bg: #87CEEB;
$bg2: rgba(#fff, .5);
$drakColor: #6AA1B8; //4B869E
$borderColor: #ACE7FF;
$bottomColor: #EBBC87;

$taskTitleH :25px;
$taskBarH : 40px;
$taskBarBg: rgba(0, 0, 0, .85);//#f5f5f5;
$taskBarFocusBg: lighten($taskBarBg, 60%);

$maxZindex : 2147483647; // https://stackoverflow.com/questions/491052/minimum-and-maximum-value-of-z-index
$topLayerZindex : $maxZindex - 100;