.lr-rb-wrap{
  padding-top: 35px;
  button{
    height: 25px;
    border-width: 2px;
    line-height: 21px;
  }
}
.lr-rb-ctrl-bar{
  height: 35px;
  padding: 0 10px;
  background-color: #eee;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.lr-rb-body{
  height: 100%;
  overflow: auto;
}
.lr-rb-table{
  tr:hover{
    background-color: #eee;
  }
}
.lr-rm-table{
  th{
    color: #484848;
    text-align: left;
    font-weight: normal;
  }
  tr:nth-child(even){
    background-color: #eee;
  }
  td{
    padding: 2px 5px;
  }
}