.lr-login-warp{
  justify-content:center;
  flex-direction: column;
  align-items: center;
}

.lr-login-h1{
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}
.lr-login-input{
  height: 30px; 
}
.lr-login-fieldset{
  display: flex;
  flex-direction: column;
  position: relative;
}
.lr-login-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.lr-login-label{
  font-size: .82em;
  line-height: 1;
  margin-right: 10px;
}

.lr-login-footer{
  text-align: right;
  padding-top: 10px;
}
.lr-login-error{
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  color:red;
  font-size: 14px;
}