<!DOCTYPE html>
<html>
<% var opts = htmlWebpackPlugin.options, data = opts.indexData; %>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="/public/favicon.png">
    <link type="text/css" rel="stylesheet" href="<%=opts.bootstrapStaticPath%>/css/bootstrap.min.css" >
    <title>clear前端架构</title>
  </head>
  <body>
  <div id="app" class="app"></div>
  <script>
  var SERVER_CONFIG = <%=JSON.stringify(data)%>
  </script>
</body>
</html>
