<!DOCTYPE html>
<html>
<% var opts = htmlWebpackPlugin.options, data = opts.indexData; %>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="<%=opts.nodeModuleStatic.winstrap%>/css/winstrap.min.css" />
    <title>Linux Remote</title>
  </head>
  <body>
  <div id="lr-app"><span>Loading...</span></div>
  <script src='<%=opts.nodeModuleStatic.winstrap%>/js/vendor/jquery.min.js'></script>
  <script src='<%=opts.nodeModuleStatic.winstrap%>/js/vendor/bootstrap.min.js'></script>
  <script>
    var SERVER_CONFIG = <%=JSON.stringify(data)%>
  </script>
</body>
</html>
