<!DOCTYPE html>
<html>
<% var opts = htmlWebpackPlugin.options, data = opts.indexData; %>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <!-- <link rel="shortcut icon" href="/public/favicon.png"> -->
    <title>Linux Remote</title>
  </head>
  <body>
  <div id="app"><span>Linux Remote Client Loading...</span></div>
  <script>
    var SERVER_CONFIG = <%=JSON.stringify(data)%>
  </script>
</body>
</html>
