<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<% if(data.LRClientCss){ %><link href="<%=data.LRClientCss%>" rel="stylesheet" /><% } %>
    <title>Linux Remote</title>
  </head>
  <body>
  <div id="lr-root">Loading...</div>
  <script>
    var CLIENT_CONFIG = <%-JSON.stringify(data.CLIENT_CONFIG)%>
  </script>
  <%data.loadJsArr.forEach(function(src){ %>
  <script src="<%=src%>"></script><% }); %>
  <script>
    window.require.config({
      paths: <%-JSON.stringify(data.requirePaths)%>
    });
  </script>
</body>
</html>