<!DOCTYPE html>
<html>
<% var opts = htmlWebpackPlugin.options, data = opts.indexData; %>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="/public/favicon.png">
    <link type="text/css" rel="stylesheet" href="<%=opts.nodeModuleStatic.bootstrap%>/css/bootstrap.min.css" >
    <title>Linux Remote</title>
  </head>
  <body>
  <div id="app"></div>
  <script>
  var SERVER_CONFIG = <%=JSON.stringify(data)%>
  </script>
  <script src="<%=opts.nodeModuleStatic.jquery%>/jquery.min.js"></script>
  <script src="<%=opts.nodeModuleStatic.bootstrap%>/js/bootstrap.min.js"></script>
  
</body>
</html>
