<!DOCTYPE html>
<html>
<% var opts = htmlWebpackPlugin.options, data = opts.indexData; %>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Linux Remote</title>
  </head>
  <body>
  <div id="lr-app"><span>Loading...</span></div>
  <script src='/public/js/jquery.min.js'></script>
  <script>
    var SERVER_CONFIG = <%=JSON.stringify(data)%>
  </script>
</body>
</html>
