<!DOCTYPE html>
<html>
<% var opts = htmlWebpackPlugin.options, data = opts.indexData, statics = opts.nodeModuleStatic; %>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <% statics.cssArr.forEach(function(v){%>
    <link href="<%=v%>" rel="stylesheet"><% })%>
    <title>Linux Remote</title>
  </head>
  <body>
  <div id="lr-app">Loading...</div>
  
  <% statics.jsArr.forEach(function(v){%>
  <script src="<%=v%>"></script><% }) %>
  <script src="/public/js/require-2.3.6.min.js"></script>
  <script>
    var CLIENT_CONFIG = <%=JSON.stringify(data)%>
  </script>
</body>
</html>
